/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */
#about {
    width: 100%;
    background-color: $background-1;
    padding-top: 76px;
    padding-bottom: 66px;
    overflow: hidden;
    .main-col {
        width: 85%;
        margin: auto;
        .about-me {
            p {
                padding-right: 10%;
                font: 1.1rem/1.8rem 'comfortaa', sans-serif;
                color: $grayText;
                margin: 0;
                span {
                    color: lighten( $grayText, 35% );
                }
            }
            h2 {
                font: 1.3rem/1.8rem 'opensans-bold', sans-serif;
                color: #fff;
                margin-bottom: 12px;
            }
        }
    }
    .profile-pic { // PHOTO
       position: relative;
       width: 160px;
       height: 160px;
       border-radius: 100%;
    }
    .contact-details {
        margin: 20px 0 0 0;
        .download a {
            @include myButton();
        }
        .address a {
            @extend .myBlueLinks;
        }
    }
}
