/*  1. Basic  ------------------------------------------------------- */

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-size: 17px; // all general font size
	-webkit-font-smoothing: antialiased;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $background-1;
	font-family: 'opensans-regular', sans-serif;
	font-weight: normal;
	// font-size: 1rem;
	// line-height: 30px;
	// color: #838C95;
	width: 100%;
	overflow-x: hidden;

	opacity: 0;
	transition: opacity 2.7s ease-in-out;

	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
