/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
    background-color: #191919;
    color: #636363;
    padding: 96px 12% 52px 12%;
}
#contact .section-head {
    text-align: center;
    width: 95px;
    margin: auto;
    margin-bottom: 42px;
    h1 {
        font: 18px/24px 'opensans-bold', sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #EBEEEE;
    }
    .touchIcon:before {
        height: 40px;
        font-family: 'FontAwesome';
        content: "\f0e0";
         font-size: 72px;
        color: #ebeeee;
    }
}

/* contact form */
#contact form {
    margin-bottom: 30px;
    padding: 0 10%;
 }
#contact form .row {
    margin-bottom: 30px;
}
#contact label {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin-top: 6px;
   color: #EBEEEE;
}
#contact input,
#contact textarea {
    padding: 18px 20px;
    color: #d6d2d2;
    background: #373233;
    border: 0;
    outline: none;
    font-size: 17px;
    line-height: 24px;
    width: 100%;
    resize: none;
    transition: background-color .6s ease;
}
#contact input:hover,
#contact textarea:hover {
	background-color: rgba($approvedColor, .2);
}
#contact input:focus,
#contact textarea:focus {
	color: #fff;
	background-color: $approvedColor;
}

#contact form button {
    font-family: 'opensans-bold', sans-serif;
    display: inline-block;
    padding: 14px;
    border-radius: 3px;
    background-color: #333;
    color: white;
    transition: all .6s ease;
    border: none;
    outline:none;
    i {
        color: $approvedColor;
    }
    &:hover, &:active {
        background-color: white;
        color: #333;
    }
}



#contact span.required {
	color: $approvedColor;
	font-size: 17px;
}




#contact .touchIcon.spin {
    animation:spin 2.5s linear;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
