header {
	position: relative;
	min-height: 400px;
	width: 100%;
	// background: #161415 url(../../images/header-89123.jpg) no-repeat top center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	.banner {
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto;
		width: 91%;
		padding: 20px 0;
		text-align: center;
		background-color: rgba(black,.6);
		border-radius: 10px;
	}
	.banner-text { width: 100%; }
	.banner-text h1 {
		font: 75px/1.2em 'opensans-bold', sans-serif;
		color: #fff;
		letter-spacing: -2px;
		margin: 0 auto 18px auto;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
	}
}

header .banner-text h3 {
	font: 18px/1.9em 'librebaskerville-regular', serif;
	color: $grayText;
	margin: 0 auto;
	width: 70%;
	//    text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
	&.navigate {
		margin-top: 12px;
	}
}
header .banner-text h3 span {
	color: lighten( $grayText, 25% );
}
header .banner-text h3 a {
	@extend .myBlueLinks;
}

header .banner-text hr {
	width: 60%;
	margin: 18px auto 24px auto;
	border-color: #2F2D2E;
}

/* header social links */
header .social {
	margin: 24px 0;
	padding: 0;
	font-size: 30px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
	display: inline-block;
	margin: 0 15px;
	padding: 0;
}
header .social li a {
	color: #fff;
	transition: color .3s ease-in-out;
}
header .social li a:hover { color: $approvedColor; }

/* scrolldown link */
header .scrolldown a {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -29px;
	opacity: .9;
	color: #fff;
	display: block;
	font-size: 54px;
	color: #fff;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: $approvedColor; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
	font: 14px 'opensans-bold', sans-serif;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0 auto;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
}
.opaque {
	background-color: #333;
	opacity: .92;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
	min-height: 48px;
	width: auto;

	/* center align the menu */
	text-align: center;
}
ul#nav li {
	position: relative;
	list-style: none;
	height: 48px;
	display: inline-block;
}

/* Links */
ul#nav li a {
	/* 8px padding top + 8px padding bottom + 32px line-height = 48px */
	display: inline-block;
	padding: 8px 13px;
	line-height: 32px;
	text-decoration: none;
	text-align: left;
	color: #fff;

	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li a:hover { color: $approvedColor; background-color: transparent !important;}
ul#nav li.current a { color: $ocrenaturaleza; }
