#idioms {
    position: relative;
    z-index: 100;
    button {
        padding: 2px 5px;
        line-height: 10px;
        background-color: white;
        border: 1px solid #333;
    }
    .selected {
        position: fixed;
        top: 5px;
        right: 8px;
        opacity: .75;
        z-index: 10;
    }
    .choose {
        position: fixed;
        top: 5px;
        right: -75px;
        opacity: 0;
        z-index: 5;
        display: none;
    }
}
// #idioms {
//     button {
//         padding: 2px 5px;
//         line-height: 10px;
//         background-color: white;
//         border: 1px solid #333;
//     }
//     .selected {
//         position: fixed;
//         top: 55px;
//         left: 5px;
//         opacity: .6;
//         z-index: 10;
//     }
//     .choose {
//         position: fixed;
//         top: 55px;
//         left: -75px;
//         opacity: .5;
//         z-index: 5;
//         display: none;
//     }
// }
