
	@media only screen and (max-width: 830px) {
	/* mobile navigation
	-------------------------------------------------------------------- */
	#nav-wrap {
		font: 12px 'opensans-bold', sans-serif;
		background: transparent !important;
		letter-spacing: 1.5px;
		width: auto;
		position: fixed;
		top: 0;
		right: 0;
	}
	#nav-wrap > a {
			width: 40px; //48px
			height: 40px; //48px
			text-align: left;
			background-color: $ocrenaturaleza;
			border: none;
			text-shadow: none;
			color: transparent;
			position: fixed;
			top: 5px; // top: 50px;
			left: 7px; // right: 7px;
			transition: background-color 8s ease;
	}

		#nav-wrap > a:before, // hamburger menu
		#nav-wrap > a:after {
			position: absolute;
			border: 2px solid #fff;
			top: 35%;
			left: 25%;
			right: 25%;
			content: '';
		}
	#nav-wrap > a:after { top: 60%; }

	/* showing hamburger menu */
		#nav-wrap > a.mobile-btn {
			display: block;
		}

	/* hide menu panel */
	#nav-wrap ul#nav {
		height: auto;
		display: block;
		opacity: .95;
		border-radius: 15px;
		clear: both;
		width: 169px;
		position: fixed;
		top: 49px;
		left: -240px;
		padding: 12px;
		// pointer-events: none;
		background-color: #1f2024;
		transition: left .4s ease-out;
		&.open {
			left: 10px;
		}
		li a {
			text-align: right;
		}
	}

	ul#nav li {
		display: block;
		height: auto;
		margin: 0 auto;
		padding: 0 4%;
		text-align: left;
		border-bottom: 1px solid #3b3c40;
	}

	ul#nav li a {
		display: block;
		margin: 0;
		padding: 0;
		margin: 12px 0;
		line-height: 16px; /* reset line-height from 48px */
		border: none;
	}

	/* Header Styles
	-------------------------------------------------------------------- */
		header .banner-text h1 {
		font-size: 38px !important;
	}

	header .banner {
		padding-bottom: 12px;
		padding-top: 6px;
	}
	// header .banner-text h1 { font: 68px/1.1em 'opensans-bold', sans-serif; }
	header .banner-text h3 {
		font: 16px/1.9em 'librebaskerville-regular', serif;
		width: 85%;
	}
	header .banner-text hr {
		width: 80%;
		margin: 18px auto;
	}

	/* header social links */
	header .social {
		margin: 18px 0 24px 0;
		font-size: 24px;
		line-height: 36px;
	}
	header .social li { margin: 0 10px; }

		/* scrolldown link */
	// header .scrolldown { display: none; }


	/* About Section
	-------------------------------------------------------------------- */
	// #about .profile-pic { text-align: center;}
	// #about .download .button { }
	// #about .main-col { padding-right: 30px; }

	/* Resume Section
	--------------------------------------------------------------------- */
	#resume .header-col {
		padding-top: 0;
		margin-bottom: 48px;
		text-align: center;
	}
	#resume h1 { letter-spacing: 3px; }
	#resume .main-col { padding-right: 30px; }
	#resume h3, #resume .info { text-align: center; }

	.bars { width: 100%; }


	/* Call To Action Section
	/* ----------------------------------------------------------------- */
	#call-to-action { text-align: center; }
	#call-to-action h1 {
		font: 16px/24px 'opensans-bold', sans-serif;
		text-align: center;
		margin-bottom: 30px;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
	}
	#call-to-action h1 span { display: block; }
	#call-to-action .header-col h1:before { content: none; }
	#call-to-action p { font-size: 15px; }


	/* Portfolio Section
	/* ----------------------------------------------------------------- */
	#portfolio-wrapper .columns { margin-bottom: 40px; }
	.popup-modal {	max-width: 85%; }


	/* Testimonials Section
	----------------------------------------------------------------------- */
	#testimonials .text-container { text-align: center; }
	#testimonials h1 {
		font: 16px/24px 'opensans-bold', sans-serif;
		text-align: center;
		margin-bottom: 30px;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
	}
	#testimonials h1 span { display: block; }
	#testimonials .header-col h1:before { content: none; }
	#testimonials blockquote { padding-bottom: 24px; }
	#testimonials blockquote p {
		font-size: 20px;
		line-height: 42px;
	}

	/* Control Nav */
	.flex-control-nav {
		text-align: center;
		margin-left: -30px;
	}

	/* contact Section
	----------------------------------------------------------------------- */
	#contact form {
		padding: 0 3%;
		}
	#contact { padding-bottom: 66px; }
	#contact .section-head { margin-bottom: 12px; }
	#contact .section-head h1 {
		font: 16px/24px 'opensans-bold', sans-serif;
		text-align: center;
		margin-bottom: 30px;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
	}
	#contact h1 span { display: block; }
	#contact .header-col { padding-top: 0; }
	// #contact .header-col h1:before { content: none;	}
	#contact .section-head p.lead { text-align: center;}

	/* form */
	#contact label {
		float: none;
		width: 100%;
	}
	#contact input,
	#contact textarea,
	#contact select {
		margin-bottom: 6px;
		width: 100%;
	}
	#contact button.submit { margin: 30px 0 24px 0; }
	#message-warning, #message-success {
		width: 100%;
		margin-left: 0;
	}

	/* footer
	------------------------------------------------------------------------ */

	/* copyright */
	footer .copyright li:before { content: none; }
	footer .copyright li { margin-right: 12px; }

	/* social links */
	footer .social-links { font-size: 22px; }
	footer .social-links li { margin-left: 18px; }

	footer .scrollup a {
		//    position: absolute;
		//    top: -24px;
		//    left: 50%;
		//    margin-left: -30px;
	}

	// /* Go To Top Button */
	// #go-top { margin-left: -22px; }
	// #go-top a {
	// 	width: 54px;
	// 	height: 54px;
	//    font-size: 18px;
	//    line-height: 54px;
	// }

	#portfolio {
		.flexslider {
			width: 65%;
		}
	}

	}
