#portfolio {
    width: 100%;
    min-height: 400px;
    padding-top: 90px;
    padding-bottom: 60px;
    // background-color: #2B2B2B;
    h1 {
        font: 15px/24px 'opensans-semibold', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 48px;
        color: #95A3A3;
    }
    .flexslider {
        width: 55%;
        max-width: 600px;
        height: 100%;
        margin: auto;
        text-align: center;
        padding: 32px 1px 10px 1px;
        color: #2B2B2B;
        color: white;
        // background-color: $approvedColor;
        background-color: #666;
        background-color: teal;
        border: none;
        .technologies {
            background-color: #2B2B2B;
            padding: 8px 46px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            span {
                color: $approvedColor;
                display: inline-block;
                margin: 5px 15px;
            }
        }
        .demo {
            margin-top: 20px;
            // padding: 12px 30px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center;
            * {
                margin: 0 10px 0 0;
            }
            a {
                @include myButton();
            }
        }
    }

    .sipedi {
        .title {
            h2 {
                font-family: 'Days One', sans-serif;
                font-size: 3rem;
                color: #2B2B2B;
            }
            p {
                margin: 30px auto;
                font-size: 22px;
                font-family: monospace;
            }
        }
    }
    .zemtime {
        .title {
            h2 {
                font-family: monospace, 'Days One', sans-serif;
                font-size: 3rem;
                line-height: 22px;
                color: #2B2B2B;
            }
            p {
                margin: 30px auto;
                font-size: 22px;
                font-family: monospace;
            }
        }
    }
}
