/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */
#resume {
   background-color: $background-2;
   padding-bottom: 72px;
   padding-top: 76px;
   overflow: hidden;
   .content {
       width: 85%;
       margin: auto;
        a {
            @extend .myBlueLinks;
            font-size: 1rem;
        }
   }
    h3 {
       font: 25px/30px 'opensans-bold', sans-serif;
   }
    h1 {
       font: 18px/24px 'opensans-bold', sans-serif;
       text-transform: uppercase;
       letter-spacing: 1px;
       span {
           border-bottom: 3px solid $approvedColor;
           padding-bottom: 6px;
       }
    }
    .item {
        margin-bottom: 20px;
        p {
            text-align: justify;
        }
    }
    .main-col {
        padding: 0 12% 0 5%;
    }

    .parallax-window {
        min-height: 300px;
        background: transparent;
    }

    .header-col {
        text-align: center;
        padding-top: 9px;
        margin-bottom: 51px;
        &.mySkills {
            background-color: rgba(black, .65);
            border-radius: 7px;
            span {
                color: white;
            }
            // position: relative;
            // top: -80px;
        }
    }
    .info {
        font: 16px/24px 'librebaskerville-italic', serif;
        color: #6E7881;
        margin-bottom: 18px;
        margin-top: 9px;
        span {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
    .date {
        font: 15px/24px 'opensans-regular', sans-serif;
        margin-top: 6px;
    }
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/
.bars {
	width: 95%;
	float: left;
	text-align: left;
    background-color: rgba(black, .65);
    padding: 28px;
    border-radius: 20px 3px 3px 20px;
    margin: 50px auto;
    .skills {
        margin-top: 36px;
        list-style: none;
    }
    li {
        position: relative;
        margin-bottom: 40px;
        background-color: rgba(black, .085);
        height: 22px;
        border-radius: 3px;
        &:nth-child(1) { transform: rotate(.6deg); } // Angular 1 & 4
        &:nth-child(2) { transform: rotate(1.1deg); }
        &:nth-child(3) { transform: rotate(.5deg); }
        &:nth-child(4) { transform: rotate(-1deg); }
        &:nth-child(5) { transform: rotate(-.3deg); }
        &:nth-child(6) { transform: rotate(.8deg); }
        &:nth-child(7) { transform: rotate(2deg); }
        &:nth-child(8) { transform: rotate(-.8deg); }
        &:nth-child(9) { transform: rotate(-.1deg); }
        &:nth-child(10) { transform: rotate(1.1deg); }
        &:nth-child(11) { transform: rotate(.2deg); }
        &:nth-child(12) { transform: rotate(-2.1deg); }
    }
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
    color: white;
	// text-transform: uppercase;
    letter-spacing: 2.5px;
	font-weight: normal;
    position: relative;
	top: -31px;
}

.bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background-color: rgba($approvedColor, .8);
    display: inline-block;
  	height: 22px;
    line-height: 22px;
    border-radius: 8px 8px 8px 8px;
}

.Angular {
    width: $Angular;
    animation: Angular 7s ease;
}
.NodeJS {
    width: $NodeJS;
    animation: NodeJS 7s ease;
}
.JavaScript {
    width: $JavaScript;
    animation: JavaScript 6s ease;
}
.Sass {
    width: $Sass;
    animation: Sass 5s ease;
}
.jQuery {
  	width: $jQuery;
    animation: jQuery 6s ease;
}
.MongoDB {
  	width: $MongoDB;
    animation: MongoDB 8s ease;
}
.HTML_CSS {
  	width: $HTML_CSS;
    animation: HTML_CSS 2s ease;
}
.Git {
  	width: $Git;
    animation: Git 4s ease;
}
.Gulp {
  	width: $Gulp;
    animation: Gulp 9s ease;
}
.PHP {
  	width: $PHP;
    animation: PHP 7s ease;
}
.Scrum {
  	width: $Scrum;
    animation: Scrum 2s ease;
}
.Jasmine {
    width: $Jasmine;
    animation: Jasmine 6s ease;
}

@keyframes Angular {
    @include mySkillBarKeyframes($Angular);
}
@keyframes NodeJS {
    @include mySkillBarKeyframes($NodeJS);
}
@keyframes JavaScript {
    @include mySkillBarKeyframes($JavaScript);
}
@keyframes Sass {
    @include mySkillBarKeyframes($Sass);
}
@keyframes jQuery {
    @include mySkillBarKeyframes($jQuery);
}
@keyframes MongoDB {
    @include mySkillBarKeyframes($MongoDB);
}
@keyframes HTML_CSS {
    @include mySkillBarKeyframes($HTML_CSS);
}
@keyframes Git {
    @include mySkillBarKeyframes($Git);
}
@keyframes Gulp {
    @include mySkillBarKeyframes($Gulp);
}
@keyframes PHP {
    @include mySkillBarKeyframes($PHP);
}
@keyframes Scrum {
    @include mySkillBarKeyframes($Scrum);
}
@keyframes Jasmine {
    @include mySkillBarKeyframes($Jasmine);
}
